In [1]:
# Libraries
import pandas as pd
import numpy as npb

In [2]:
data_row = pd.read_csv("C:/Users/Utilizador/repos/Python_ds_ao_dev/Projeto_Book_to_Scrape/data_row.csv", sep=",", encoding='ISO-8859-1')

In [3]:
data_row.columns

Index(['Unnamed: 0', 'product_name', 'product_price', 'product_stock',
       'product_star', 'product_catalog'],
      dtype='object')

In [4]:
data_row.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
data_row

,product_name,product_price,product_stock,product_star,product_catalog
0,The Secret Garden,15.08,In stock,Four,Classic
1,The Metamorphosis,28.58,In stock,One,Classic
2,The Pilgrim's Progress,50.26,In stock,Two,Classic
3,The Hound of the ...,14.82,In stock,Two,Classic
4,Little Women (Little Women ...,28.07,In stock,Four,Classic
5,Gone with the Wind,32.49,In stock,Three,Classic
6,Candide,58.63,In stock,Three,Classic
7,Animal Farm,57.22,In stock,Three,Classic
8,Wuthering Heights,17.73,In stock,Three,Classic
9,The Picture of Dorian ...,29.70,In stock,Two,Classic
10,The Complete Stories and ...,26.78,In stock,Four,Classic
11,Beowulf,38.35,In stock,Two,Classic
12,And Then There Were ...,35.01,In stock,Two,Classic
13,The Story of Hong ...,43.19,In stock,Four,Classic
14,The Little Prince,45.42,In stock,Two,Classic
15,Sense and Sensibility,37.46,In stock,One,Classic
16,Of Mice and Men,47.11,In stock,Two,Classic
17,Emma,32.93,In stock,Two,Classic
18,Alice in Wonderland (Alice's ...,55.53,In stock,One,Classic
19,Mesaerion: The Best Science ...,37.59,In stock,One,Science Fiction
20,Join,35.67,In stock,Five,Science Fiction
21,William Shakespeare's Star Wars: ...,43.30,In stock,Four,Science Fiction
22,The Project,10.65,In stock,One,Science Fiction
23,Soft Apocalypse,26.12,In stock,Two,Science Fiction
24,Sleeping Giants (Themis Files ...,48.74,In stock,One,Science Fiction
25,Arena,21.36,In stock,Four,Science Fiction
26,Foundation (Foundation (Publication Order) ...,32.42,In stock,One,Science Fiction
27,The Restaurant at the ...,10.92,In stock,One,Science Fiction
28,Ready Player One,19.07,In stock,Four,Science Fiction
29,"Life, the Universe and ...",33.26,In stock,Two,Science Fiction
30,Dune (Dune #1),54.86,In stock,One,Science Fiction
31,Do Androids Dream of ...,51.48,In stock,One,Science Fiction
32,Three Wishes (River of ...,44.18,In stock,Two,Science Fiction
33,The Last Girl (The ...,36.26,In stock,Two,Science Fiction
34,Having the Barbarian's Baby ...,34.96,In stock,Four,Science Fiction
35,The Long Haul (Diary ...,44.07,In stock,One,Humor
36,Old School (Diary of ...,11.83,In stock,Five,Humor
37,I Know What I'm ...,25.98,In stock,Four,Humor
38,Hyperbole and a Half: ...,14.75,In stock,Five,Humor
39,Dress Your Family in ...,43.68,In stock,Three,Humor
40,Toddlers Are A**holes: It's ...,25.55,In stock,One,Humor
41,When You Are Engulfed ...,30.89,In stock,Five,Humor
42,Naked,31.69,In stock,Three,Humor
43,Lamb: The Gospel According ...,55.50,In stock,Five,Humor
44,Holidays on Ice,51.07,In stock,Two,Humor
45,The Dirty Little Secrets ...,33.34,In stock,Four,Business
46,The Third Wave: An ...,12.61,In stock,Five,Business
47,The 10% Entrepreneur: Live ...,27.55,In stock,Three,Business
48,Shoe Dog: A Memoir ...,23.99,In stock,Two,Business
49,Made to Stick: Why ...,38.85,In stock,Five,Business
50,Quench Your Own Thirst: ...,43.14,In stock,One,Business
51,The Art of Startup ...,21.00,In stock,Three,Business
52,Born for This: How ...,21.59,In stock,Five,Business
53,The E-Myth Revisited: Why ...,36.91,In stock,One,Business
54,"Rich Dad, Poor Dad",51.74,In stock,One,Business
55,The Lean Startup: How ...,33.92,In stock,Three,Business
56,Rework,44.88,In stock,Two,Business

In [6]:
hip_1 = data_row.filter(items = ['product_price','product_catalog', 'product_star']).groupby(['product_catalog', 'product_star']).median().sort_values(by=['product_price','product_star'], ascending= True).reset_index()
hip_1

     product_catalog product_star  product_price
0          Business          Five         21.590
1             Humor          Five         22.820
2             Humor          Four         25.980
3            Classic         Four         27.425
4          Business         Three         27.550
5   Science Fiction          Four         28.160
6          Business          Four         33.340
7          Business           Two         34.435
8   Science Fiction           Two         34.760
9             Humor           One         34.810
10  Science Fiction          Five         35.670
11           Classic          Two         36.680
12           Classic          One         37.460
13  Science Fiction           One         37.590
14            Humor         Three         37.685
15         Business           One         43.140
16           Classic        Three         44.855
17            Humor           Two         51.070

In [7]:
hip_2 = data_row.filter(items = ['product_price','product_catalog', 'product_star']).groupby(['product_catalog', 'product_star']).min().sort_values(by=['product_price','product_star'], ascending= True).reset_index()
hip_2

     product_catalog product_star  product_price
0   Science Fiction           One          10.65
1             Humor          Five          11.83
2          Business          Five          12.61
3            Classic          Two          14.82
4            Classic         Four          15.08
5            Classic        Three          17.73
6   Science Fiction          Four          19.07
7          Business         Three          21.00
8          Business           Two          23.99
9             Humor           One          25.55
10            Humor          Four          25.98
11  Science Fiction           Two          26.12
12           Classic          One          28.58
13            Humor         Three          31.69
14         Business          Four          33.34
15  Science Fiction          Five          35.67
16         Business           One          36.91
17            Humor           Two          51.07

In [8]:
hip_3 = data_row.filter(items = ['product_price','product_catalog', 'product_star']).groupby(['product_catalog', 'product_star']).max().sort_values(by=['product_price','product_star'], ascending= True).reset_index()
hip_3

     product_catalog product_star  product_price
0             Humor          Four          25.98
1          Business          Four          33.34
2          Business         Three          33.92
3   Science Fiction          Five          35.67
4          Business          Five          38.85
5            Classic         Four          43.19
6   Science Fiction          Four          43.30
7             Humor         Three          43.68
8             Humor           One          44.07
9   Science Fiction           Two          44.18
10         Business           Two          44.88
11           Classic          Two          50.26
12            Humor           Two          51.07
13         Business           One          51.74
14  Science Fiction           One          54.86
15            Humor          Five          55.50
16           Classic          One          55.53
17           Classic        Three          58.63

In [9]:
data_row = data_row.drop_duplicates()

In [10]:
data_row.to_csv('data_product_book_cleaned.csv')